@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

h1 {
  color: #F9D949;
  padding: 1em;
}

a {
  font-weight: 100;
  text-decoration: none;
  color: #F45050;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url('../images/fullcuriosity.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 4.5em;
  line-height: 1.1;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.justify-between {
  justify-content: center;
}

.container[data-v-7a7a37b1] {
  background-color: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
}
